body::before {
    content: "";
    position: absolute;
    top: -10%;
    left: -10%;
    width: 110%;
    height: 110%;
    background: radial-gradient(circle at 20% 30%, #9400d340, transparent 60%),
                radial-gradient(circle at 80% 70%, #00BFFF40, transparent 60%),
                radial-gradient(circle at 50% 90%, #FF149340, transparent 60%);
    filter: blur(0px);
    z-index: -1;
  }
.navbar{
    opacity: 80%;
}